In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('healthcare_dataset.csv')

In [3]:
data.columns

Index(['Name', 'Age', 'Gender', 'Blood Type', 'Medical Condition',
       'Date of Admission', 'Doctor', 'Hospital', 'Insurance Provider',
       'Billing Amount', 'Room Number', 'Admission Type', 'Discharge Date',
       'Medication', 'Test Results'],
      dtype='object')

In [4]:
arr = data['Insurance Provider'].value_counts()

In [5]:
arr = []
for i in data['Insurance Provider']:
    if i not in arr:
        arr.append(i)

In [6]:
arr

['Blue Cross', 'Medicare', 'Aetna', 'UnitedHealthcare', 'Cigna']

In [7]:
data['Medical Condition'].value_counts()

Medical Condition
Arthritis       9308
Diabetes        9304
Hypertension    9245
Obesity         9231
Cancer          9227
Asthma          9185
Name: count, dtype: int64

In [8]:
medCon = []
for i in data['Medical Condition']:
    if i not in medCon:
        medCon.append(i)
medCon

['Cancer', 'Obesity', 'Diabetes', 'Asthma', 'Hypertension', 'Arthritis']

In [9]:
disease_insurance = data.groupby('Medical Condition')['Insurance Provider'].unique().reset_index()
disease_insurance.columns = ['Disease', 'Insurance Providers']
disease_insurance

        Disease                                Insurance Providers
0     Arthritis  [UnitedHealthcare, Aetna, Medicare, Blue Cross...
1        Asthma  [UnitedHealthcare, Cigna, Blue Cross, Aetna, M...
2        Cancer  [Blue Cross, Aetna, Cigna, UnitedHealthcare, M...
3      Diabetes  [Medicare, Cigna, UnitedHealthcare, Blue Cross...
4  Hypertension  [Medicare, Blue Cross, Cigna, Aetna, UnitedHea...
5       Obesity  [Medicare, Aetna, Blue Cross, Cigna, UnitedHea...

In [10]:
hospital_insurance = data.groupby('Insurance Provider')['Hospital'].unique()
# return hospital_insurance.to_dict()

In [18]:
# print(hospital_insurance)
# for i in hospital_insurance:
    # print(i)
print(hospital_insurance['Aetna'])

['Cook PLC' 'White-White' 'Williams-Davis' ... 'Ltd Martinez'
 'Buchanan Wheeler and Roberts,' 'Avery LLC']

In [12]:
hospital = []
for i in data['Hospital']:
    if i not in hospital:
        hospital.append(i)

len(hospital)

39876